

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.debug_show {
	margin-bottom: 2em;
}

.debug_show span {
	display: block;
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.debug_show pre {
	font-size: 75%;
	line-height: 180%;
	max-height: 600px;
	overflow: auto;
}















